page-about {

    .aboutPage{
        background-color: green
    }

    .imgLogo{
        height: 300px;
    }


    .textoAbout{
        color: white;
        font-family: 'Berlin Sans FB', sans-serif;
        text-align: justify;
    }



}
