page-about {

    .aboutPage{
        background-image: url(../../assets/imgs/fondoAcercaDe.jpg);
        background-size: cover;
    }

    .imgLogo{
        height: 300px;
    }


    .textoAbout{
        color: white;
        font-family: 'Berlin Sans FB', sans-serif;
        text-align: justify;
        text-shadow: 2px 1px black;
    }



}
