page-login {

    .colorDeFondo{
        /* background-image: url(../../assets/imgs/fondo02.jpg); */
        background: url(http://bestanimations.com/Nature/Water/rain/rain-nature-animated-gif-20.gif);
    }

    ion-content{
        vertical-align: middle;
        text-align: center;
        margin: auto;
    }

    .grid {
        margin-top: 15%;
    }

    .imgLogo{
        height: 200px;
    }

    form input{
        background-color: green;
    }

    .input-cover {
        opacity: 0.5;
    }

    .error {
        color: rgb(223, 62, 62);
        font-size: 11px;
      }
    
      .error1 {
        color: rgb(75, 75, 75);
        border-bottom: 1px solid #ff0000;
      }

      .textoBlanco, a{
          color: white;

          a{
            text-decoration: underline
          }
      }



    
}
