<ion-header>
  <ion-navbar color="verdeTodavia">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>login</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="colorDeFondo">

  <ion-grid>
    <form novalidate (ngSubmit)="loguearUsuario()" [formGroup]="signupform">

      <ion-row>
        <ion-col col-12>
          <img src="../../assets/icon/icono_todavia.ico" />
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-12>
          <ion-item>
            <ion-input text-center type="text" placeholder="Email" [(ngModel)]="userData.email" formControlName="email"
              [class.error1]="!signupform.controls.email.valid && signupform.controls.email.dirty"></ion-input>
          </ion-item>
          <ion-item no-lines
            *ngIf="( signupform.get('email').hasError('minlength') || signupform.get('email').hasError('pattern') ||signupform.get('email').hasError('required') ) && signupform.get('email').touched">
            <div class="error" text-center
              *ngIf="signupform.get('email').hasError('required') && signupform.get('email').touched">
              Ingrese su Email
            </div>
            <div class="error" text-center
              *ngIf="signupform.get('email').hasError('pattern') && signupform.get('email').touched">
              Email Incorrecto
            </div>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-12>
          <ion-item>
            <ion-input text-center type="password" placeholder="Contraseña" [(ngModel)]="userData.password"
              formControlName="password"
              [class.error1]="!signupform.controls.password.valid && signupform.controls.password.dirty"></ion-input>
          </ion-item>

          <ion-item no-lines
            *ngIf="( signupform.get('password').hasError('minlength') || signupform.get('password').hasError('maxlength') ||signupform.get('password').hasError('required') ) && signupform.get('password').touched">
            <div class="error" text-center
              *ngIf="signupform.get('password').hasError('required') && signupform.get('password').touched">
              Introduzca su contraseña
            </div>
            <div class="error" text-center
              *ngIf="signupform.get('password').hasError('minlength') && signupform.get('password').touched">
              Min 6 carac.
            </div>
            <div class="error" text-center
              *ngIf="signupform.get('password').hasError('maxlength') && signupform.get('password').touched">
              Max 12 caract.
            </div>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col col-12>
          <div style="text-align: center;">
            <button type="submit" ion-button round color="verdeTodavia"
              [disabled]="signupform.invalid">Loguearse</button>
          </div>
        </ion-col>
      </ion-row>

    </form>
  </ion-grid>






</ion-content>


<style type="text/css">
  .error {
    color: rgb(223, 62, 62);
    font-size: 11px;
  }

  .error1 {
    color: rgb(75, 75, 75);
    border-bottom: 1px solid #ff0000;
  }
</style>