<ion-header>
  <ion-navbar color="verdeTodavia">
    <ion-title>Editar Paso</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <form novalidate (ngSubmit)="editarPaso()">

      <ion-card class="cardClass image-upload">
        <label for="file-input">
          <img *ngIf="!img" src="{{imagesPath}}{{paso.imagen}}">
          <img *ngIf="img" [src]="img" />
        </label>
        <input id="file-input" type="file" accept="image/*" (change)="onFileChanged($event)" />
      </ion-card>
      <p class="pieDeImagen">(toca sobre la imagen para editar)</p>

      <ion-item>
        <ion-label floating>Numero</ion-label>
        <ion-input type="text" [(ngModel)]="paso.numero" [ngModelOptions]="{standalone: true}"
          value="{{paso.numero}}"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Descripcion</ion-label>
        <ion-input type="text" [(ngModel)]="paso.descripcion" [ngModelOptions]="{standalone: true}"
          value="{{paso.descripcion}}"></ion-input>
      </ion-item>

      <br /><br />
      <div style="text-align: center;">
        <button type="submit" ion-button round color="verdeTodavia">Editar</button>
      </div>

    </form>
  </ion-list>

</ion-content>