<ion-header>
  <ion-navbar color="verdeTodavia">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Detectar Objeto</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>


  <!--   <button ion-button block (click)="getPicture()">Toma una foto</button> -->



  <ion-item>
    <p>Imagen: </p>
    <input type="file" accept="image/*" (change)="getPicture($event)" />
  </ion-item>

  <ion-card class="cardClass">
    <img *ngIf="image" [src]="image" />
  </ion-card>

  <!--   <ion-card *ngIf="item">
    <ion-list class="listClass">
      <button ion-item *ngFor="let item of encontrado">
        <a>{{item.name}}</a>
      </button>
    </ion-list>
  </ion-card> -->

  <ion-card>
    <ion-list class="listClass">
      <button ion-item *ngFor="let item of encontrado" (click)="buscarPublicacion(item.name)">
        <a>{{item.name}}</a>
      </button>
    </ion-list>
  </ion-card>


  <!-- CARDS BACKGROUNDS -->
  <ion-list class="card-background-page">

    <ion-item button *ngFor="let publicacion of publicaciones | async" (click)="irADetalle(publicacion)">
      <ion-card>
        <img src="{{prefixURL}}{{publicacion.imagenPortada}}" />
        <div class="card-title" text-wrap>{{publicacion.titulo}}</div>
        <!-- <div class="card-subtitle">{{publicacion.subtitulo}}</div> -->
      </ion-card>
    </ion-item>

  </ion-list>

</ion-content>

