page-camara {

/*     .imgClass{
        height: 320px;
        width: auto;
        margin: 0 auto;
        overflow: auto;
    } */

    .cardClass img{
        margin: 0 auto;
        width: 360px;
        height: 360px;
        object-fit: cover;
    }

    .listClass{
        height: 200px;
    }



}
