page-perfil {

    .ion-label{
        text-align: center
    }

    .avatar img{
        margin: auto;
        width: 50%;
        height: 50%
    }

    .usernamePerfil{
        padding-top: 20px;
        text-align: center
    }

    .nombrePerfil{
        padding-top: 10px;
        text-align: center;

    }

    .estrellaPerfil{
        text-align: center;
    }


}
