<ion-header>
  <ion-navbar color="verdeTodavia">

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-item no-lines style="background: none; color: white;">
      <ion-title class="todaviasirve">
        <img class="isoLogo" src="../../assets/imgs/isologo.png">
      </ion-title>
      <ion-avatar item-end>
        <img src="{{prefixURL}}{{userLog.imagen}}">
      </ion-avatar>
    </ion-item>

  </ion-navbar>
</ion-header>



<ion-content>

  <!--     <div *ngIf="userLog">
        <p text.center>Hola {{userLog.username}}</p>
    </div> -->

  <ion-card>

    <ion-slides *ngIf="publicaciones" autoplay="4000" loop="true" speed="2000">
      <ion-slide *ngFor="let publicacion of publicaciones" (click)="irADetalle(publicacion)">

        <ion-item class="encabezadoCard">
          <ion-avatar item-start>
            <img src="http://placeimg.com/200/200/people">
          </ion-avatar>
          <h2>{{publicacion.titulo}}</h2>
          <p>{{publicacion.subtitulo}}</p>
        </ion-item>

        <img class="imgSlider" src="{{prefixURL}}{{publicacion.imagenPortada}}">

      </ion-slide>
    </ion-slides>

  </ion-card>



  <h4 class="titulo">Publicaciones recientes</h4>
  <hr />

  <ion-list>
    <button ion-item *ngFor="let publicacion of publicaciones" (click)="irADetalle(publicacion)">
      <ion-avatar item-start>
        <img src="{{prefixURL}}{{publicacion.imagenPortada}}">
      </ion-avatar>
      <h2>{{publicacion.titulo}}</h2>
      <p>{{publicacion.subtitulo}}</p>
    </button>
  </ion-list>


</ion-content>