page-home {
    

    .carrusel{
        height: auto;
        width: auto;
    }

    .todaviasirve{
        font-family: 'Berlin Sans FB', sans-serif;
    }

    .tituloSlide{
        font-size: 15px;
        display: inline;
        font-style: italic;      
    }

    .imgSlider{
        height: 320px;
        width: 100%;
    }
}

