page-publicar {

    .image-upload > input
    {
        display: none;
    }
    
    .image-upload img
    {
        cursor: pointer;
    }

    .cardClass img{
        margin: 0 auto;
        width: 360px;
        height: 360px;
        object-fit: cover;
        cursor: pointer;
    }

    .pieDeImagen{
        color: silver;
        text-align: center
    }

}
