<ion-header>
  <ion-navbar color="verdeTodavia">
    <ion-title>Editar Publicacion</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-list>
    <form novalidate (ngSubmit)="editarPublicacion()">

      <ion-card class="cardClass image-upload">
        <label for="file-input">
          <img *ngIf="!img" src="{{imagesPath}}{{publicacion.imagenPortada}}">
          <img *ngIf="img" [src]="img" />
        </label>
        <input id="file-input" type="file" accept="image/*" (change)="onFileChanged($event)" />
      </ion-card>
      <p class="pieDeImagen">(toca sobre la imagen para editar)</p>

      <ion-item>
        <ion-label floating>Titulo de la tranformacion</ion-label>
        <ion-input type="text" [(ngModel)]="publicacion.titulo" [ngModelOptions]="{standalone: true}"
          value="{{publicacion.titulo}}"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label floating>Una corta descripcion</ion-label>
        <ion-input type="text" [(ngModel)]="publicacion.subtitulo" [ngModelOptions]="{standalone: true}"
          value="{{publicacion.subtitulo}}"></ion-input>
      </ion-item>

      <br /><br />
      <div style="text-align: center;">
        <button type="submit" ion-button round color="verdeTodavia">Editar</button>
      </div>

    </form>
  </ion-list>





</ion-content>