<ion-header>
  <ion-navbar color="verdeTodavia">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Como se hace</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-card>

    <ion-item>
      <ion-avatar item-start>
        <img src="http://lorempixel.com/200/200/people" alt="foto_usuario">
      </ion-avatar>
      <h2>{{publicacion.titulo}}</h2>
      <p>{{publicacion.subtitulo}}</p>
    </ion-item>

    <ion-slides class="carrusel">
      <ion-slide center *ngFor="let i of [0,1,2,3,4]">
        <img class="imgCarrusel" src="{{imagenURL}}{{publicacion.Imagen[i].imagen1}}">
        <ion-card-content>
            <h4 style="text-align: left;">Paso {{i+1}}:</h4>
            <hr />
          <p> 
            <strong>{{publicacion.Imagen[i].paso}}</strong>
          </p>
        </ion-card-content>

      </ion-slide>
    </ion-slides>

    <ion-row>
      <ion-col>
        <button ion-button icon-start clear small>
          <ion-icon name="thumbs-up"></ion-icon>
          <div>12 Me gusta</div>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button icon-start clear small>
          <ion-icon name="text"></ion-icon>
          <div>4 Comentarios</div>
        </button>
      </ion-col>
      <ion-col align-self-center text-center>
        <ion-note>
          Hace 11h
        </ion-note>
      </ion-col>
    </ion-row>

  </ion-card>

  <h4 class="titulo">Encuentra mas ideas</h4>
  <hr />
  <ion-grid class="grid">
    <ion-row>
      <ion-col col-6>
          <a href="https://www.youtube.com/results/?q={{publicacion.titulo}}"><img class="botonMasIdeas" src="{{imagenURL}}boton_youtube.png" alt=""></a>
      </ion-col>
      <ion-col col-6>
          <a href="https://ar.pinterest.com/search/pins/?q={{publicacion.titulo}}"><img class="botonMasIdeas" src="{{imagenURL}}boton_pinterest.png" alt=""></a>
      </ion-col>
    </ion-row>
  </ion-grid>


<!-- 
  <h4 class="titulo">Videos Relacionados</h4>
  <hr />
  <ion-list>
    <button ion-item *ngFor="let item of videosEncontrados">
      <ion-avatar item-start>
        <img src="{{item.snippet.thumbnails.medium.url}}">
      </ion-avatar>
      <p>{{item.snippet.title}}</p>
    </button>
  </ion-list> -->

</ion-content>