page-detalle {

    .imgCarrusel{
        height: 320px;
        width: auto;
        margin: 0 auto;
    }

    .botonMasIdeas{
        padding: 10px;
        height: 65px;
    }

    .grid{
        text-align: center;
    }

    .linkVideoAPI {
        text-decoration: none;
    }

    .item ion-thumbnail {
        min-height: 50px;
        width: auto;    
        img {
            height: 50px;
            width: auto;
        }
    }


}
